<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>.notdef</key>
		<string>_notdef.glif</string>
		<key>A</key>
		<string>A_.glif</string>
		<key>Aacute</key>
		<string>A_acute.glif</string>
		<key>B</key>
		<string>B_.glif</string>
		<key>C</key>
		<string>C_.glif</string>
		<key>Cacute</key>
		<string>C_acute.glif</string>
		<key>D</key>
		<string>D_.glif</string>
		<key>E</key>
		<string>E_.glif</string>
		<key>Eacute</key>
		<string>E_acute.glif</string>
		<key>F</key>
		<string>F_.glif</string>
		<key>G</key>
		<string>G_.glif</string>
		<key>H</key>
		<string>H_.glif</string>
		<key>I</key>
		<string>I_.glif</string>
		<key>Iacute</key>
		<string>I_acute.glif</string>
		<key>J</key>
		<string>J_.glif</string>
		<key>K</key>
		<string>K_.glif</string>
		<key>L</key>
		<string>L_.glif</string>
		<key>Lacute</key>
		<string>L_acute.glif</string>
		<key>M</key>
		<string>M_.glif</string>
		<key>Macute</key>
		<string>M_acute.glif</string>
		<key>N</key>
		<string>N_.glif</string>
		<key>Nacute</key>
		<string>N_acute.glif</string>
		<key>O</key>
		<string>O_.glif</string>
		<key>Oacute</key>
		<string>O_acute.glif</string>
		<key>P</key>
		<string>P_.glif</string>
		<key>Q</key>
		<string>Q_.glif</string>
		<key>R</key>
		<string>R_.glif</string>
		<key>Racute</key>
		<string>R_acute.glif</string>
		<key>S</key>
		<string>S_.glif</string>
		<key>Sacute</key>
		<string>S_acute.glif</string>
		<key>T</key>
		<string>T_.glif</string>
		<key>U</key>
		<string>U_.glif</string>
		<key>Uacute</key>
		<string>U_acute.glif</string>
		<key>V</key>
		<string>V_.glif</string>
		<key>W</key>
		<string>W_.glif</string>
		<key>Wacute</key>
		<string>W_acute.glif</string>
		<key>X</key>
		<string>X_.glif</string>
		<key>Y</key>
		<string>Y_.glif</string>
		<key>Yacute</key>
		<string>Y_acute.glif</string>
		<key>Z</key>
		<string>Z_.glif</string>
		<key>Zacute</key>
		<string>Z_acute.glif</string>
		<key>a</key>
		<string>a.glif</string>
		<key>acutecmb</key>
		<string>acutecmb.glif</string>
		<key>acutecmb.cap</key>
		<string>acutecmb.cap.glif</string>
		<key>ampersand</key>
		<string>ampersand.glif</string>
		<key>b</key>
		<string>b.glif</string>
		<key>brevebelowcmb</key>
		<string>brevebelowcmb.glif</string>
		<key>brevecmb</key>
		<string>brevecmb.glif</string>
		<key>brevecmb.cap</key>
		<string>brevecmb.cap.glif</string>
		<key>c</key>
		<string>c.glif</string>
		<key>caroncmb</key>
		<string>caroncmb.glif</string>
		<key>caroncmb.cap</key>
		<string>caroncmb.cap.glif</string>
		<key>cedillacmb</key>
		<string>cedillacmb.glif</string>
		<key>circumflexcmb</key>
		<string>circumflexcmb.glif</string>
		<key>circumflexcmb.cap</key>
		<string>circumflexcmb.cap.glif</string>
		<key>commabelowcmb</key>
		<string>commabelowcmb.glif</string>
		<key>d</key>
		<string>d.glif</string>
		<key>dieresisbelowcmb</key>
		<string>dieresisbelowcmb.glif</string>
		<key>dieresiscmb</key>
		<string>dieresiscmb.glif</string>
		<key>dieresiscmb.cap</key>
		<string>dieresiscmb.cap.glif</string>
		<key>dotaccentcmb</key>
		<string>dotaccentcmb.glif</string>
		<key>dotaccentcmb.cap</key>
		<string>dotaccentcmb.cap.glif</string>
		<key>dotbelowcmb</key>
		<string>dotbelowcmb.glif</string>
		<key>e</key>
		<string>e.glif</string>
		<key>eight</key>
		<string>eight.glif</string>
		<key>f</key>
		<string>f.glif</string>
		<key>five</key>
		<string>five.glif</string>
		<key>four</key>
		<string>four.glif</string>
		<key>g</key>
		<string>g.glif</string>
		<key>gravecmb</key>
		<string>gravecmb.glif</string>
		<key>gravecmb.cap</key>
		<string>gravecmb.cap.glif</string>
		<key>h</key>
		<string>h.glif</string>
		<key>hoicmb</key>
		<string>hoicmb.glif</string>
		<key>hoicmb.cap</key>
		<string>hoicmb.cap.glif</string>
		<key>horncmb</key>
		<string>horncmb.glif</string>
		<key>hungarumlautcmb</key>
		<string>hungarumlautcmb.glif</string>
		<key>hungarumlautcmb.cap</key>
		<string>hungarumlautcmb.cap.glif</string>
		<key>i</key>
		<string>i.glif</string>
		<key>j</key>
		<string>j.glif</string>
		<key>k</key>
		<string>k.glif</string>
		<key>l</key>
		<string>l.glif</string>
		<key>m</key>
		<string>m.glif</string>
		<key>macronbelowcmb</key>
		<string>macronbelowcmb.glif</string>
		<key>macroncmb</key>
		<string>macroncmb.glif</string>
		<key>macroncmb.cap</key>
		<string>macroncmb.cap.glif</string>
		<key>n</key>
		<string>n.glif</string>
		<key>nine</key>
		<string>nine.glif</string>
		<key>o</key>
		<string>o.glif</string>
		<key>ogonekcmb</key>
		<string>ogonekcmb.glif</string>
		<key>one</key>
		<string>one.glif</string>
		<key>p</key>
		<string>p.glif</string>
		<key>q</key>
		<string>q.glif</string>
		<key>r</key>
		<string>r.glif</string>
		<key>ringcmb</key>
		<string>ringcmb.glif</string>
		<key>ringcmb.cap</key>
		<string>ringcmb.cap.glif</string>
		<key>s</key>
		<string>s.glif</string>
		<key>schwa</key>
		<string>schwa.glif</string>
		<key>seven</key>
		<string>seven.glif</string>
		<key>six</key>
		<string>six.glif</string>
		<key>space</key>
		<string>space.glif</string>
		<key>t</key>
		<string>t.glif</string>
		<key>three</key>
		<string>three.glif</string>
		<key>tildecmb</key>
		<string>tildecmb.glif</string>
		<key>tildecmb.cap</key>
		<string>tildecmb.cap.glif</string>
		<key>two</key>
		<string>two.glif</string>
		<key>u</key>
		<string>u.glif</string>
		<key>v</key>
		<string>v.glif</string>
		<key>verticallinebelowcmb</key>
		<string>verticallinebelowcmb.glif</string>
		<key>w</key>
		<string>w.glif</string>
		<key>x</key>
		<string>x.glif</string>
		<key>y</key>
		<string>y.glif</string>
		<key>z</key>
		<string>z.glif</string>
		<key>zero</key>
		<string>zero.glif</string>
	</dict>
</plist>
